body{
    background-color: #222222;
}

h3{
   text-align: center;
   font-family:fantasy;
   color : #f7bc3d;
   font-size: 30px;
   font-weight: bold;
}

#root div{
    display: grid;
    place-items: center;
    padding-bottom: 20px;
}

input {
    background-color: transparent;
    border: 1px solid #fac000;
    padding: 10px;
    width: 30rem;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

input::placeholder{
    color: white;
}

hr{
    width: 40%;
}

button{
    background-color: transparent;
    color: white;
    border: 1px solid #1ed5fe;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

button:hover {
    background-color: #28c6e9;
    color: black;
}

ul{
    color: white;
    text-align: center;
    list-style-type: none;
    font-size: 20px;
}

ul li {
    margin-bottom: 10px;
}